 .contenedorIndex {
    font-family: "ReadexPro-Medium";
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

.logoBodyIndex {
    width: 10em;
}

.logoSponsorsFf {
  width: 20em;
  height: 5em;
  display: flex;

}

.logoSponsors {
  width: 10em;
}

.contLogoBodyIndex {
    display: flex;
    justify-content: center;
}

.sponsors{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}