.remerasBenoni {
    height: 17em;
    filter: drop-shadow(5px 5px 5px #b2b2b2);
}

.remerasBenoniDetail {
  height: 27em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  filter: drop-shadow(5px 5px 5px #b2b2b2);
}

#productos {
  visibility: hidden;
}

.boxRemeras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    filter: drop-shadow(5px 5px 5px #b2b2b2);
}

.boxPrenda {
    display: flex;
    justify-content: center;
    border: solid .2em grey;
    border-radius: 1em;
    filter: drop-shadow(5px 5px 5px #dadada);
    background-color: rgb(206 193 192);
    margin-top: .2em;
    margin-bottom: .2em;
}

.remera {
    margin: .5em;
}

.tituloRemera {
  text-align: center;
}

.lds-ring {
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 80px;
    height: 80px;
    margin-left:35%;
    margin-top: 25%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(179, 87, 87) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .lds-ringDetalle {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin-left:15.5%;
    margin-top: 8%;
  }
  .lds-ringDetalle  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(179, 87, 87) transparent transparent transparent;
  }
  .lds-ringDetalle  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ringDetalle  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ringDetalle  div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }