.searchID {
    margin-top: 2em;
    margin-left: 2em;
}

.idRemove {
    margin-top: 2em;
    margin-left: 2em;
}

#lookForID {
    margin-top: .5em;
    font-family: "ReadexPro-Medium";
    font-size: 1.5em;
    width: 50%;
}

#removeID {
    margin-top: .5em;
    font-family: "ReadexPro-Medium";
    font-size: 1.5em;
    width: 70%;
}

.carritoTrash{
    margin-left: 1em;
}

.tituloItemsCarrito{
    text-align: center;
    margin-top: 1em;
}

.btnEliminar {
    display: flex;
    justify-content: center;
}

.tituloTotalCarrito{
    margin-top: 2em;
    margin-left: 1em;
}

.btnCheckOut{
    display: flex;
    justify-content: center;
}

.btnCheckOut :hover{
    transition: all .3s;
    transform: scale(1.05);
    background-color: green;
    color: white;
}

#checkOutContinue{
    font-family: "ReadexPro-Medium";
    size: 1.2em;
    text-align: center;
    text-decoration: none;
}

.carritoVacio {
    width: 25em;
}

.carritoEmpty{
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
}

.carritoEmptyText{
    text-align: center;
}

#searchRemove {
    display: flex;
    justify-content: space-evenly;
}

#formCheckout{
    font-family: "ReadexPro-Medium";
    margin-left: 2em;
    margin-top: 2em;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 50% 50%;
}

#carritoCheckOut {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-right: 2em;
    margin-left: 2em;
}

#enviarPedido{
    background-color: #e0383f;
    font-size: 1.2em;
    border: none;
    filter: drop-shadow(5px 5px 5px #222);
}

.btnEliminarPrenda{
    display: flex;
    justify-content: center;
}

.btnEliminarPrenda button{
    border: none;
    background-color: transparent;
}

.logoTrashCheckOut{
    width: 1em;
    margin-top: -0.8em;
}

#productosCheckOut{
    display: flex;
    justify-content: space-evenly;
}

.remerasBenoniCheckOut{
    width: 4em;
}

.remerasBoxCheckOut{
    display: flex;
    flex-direction: row;
}

#boxCheckOut{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenidoBox {
    margin-left: .5em;
    margin-right: .1em;

}

.tituloRemeraCheckOut{
    font-size: 1em;
    margin-top: .45em;
}

#checkOutTotal{
    display: flex;
    justify-content: right;
}

.ivaCart {
    margin-left: 2em;
}

.ivaCheckOut {
    font-size: .7em;
    margin-left: 1.5em;
}