.navbarBackground{
    font-family: "ReadexPro-Medium";
    background-color:  rgb(206 193 192);
  }
  
  .logoNav {
    width: 6em;
    margin-right: 2em;
  }
  
  .logoCart {
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin-top: -.5em;
  }
  .cartText{
    font-size: 1.2em;
  }

  .logoTrash {
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin-top: -.5em;
    margin-right: 2em;
  }

  .nav-link {
    cursor: pointer;
  }

  .navbar-nav{
    margin-top: -1em;
  }

  .carritoTrash {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
  }